In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("/kaggle/input/social-media-usage-and-emotional-well-being/test.csv", index_col="User_ID")

In [3]:
df.head()

,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
User_ID,,,,,,,,,
500,27,Female,Snapchat,120,4,40,18,22,Neutral
488,21,Non-binary,Snapchat,60,1,18,7,12,Neutral
776,28,Non-binary,Snapchat,115,3,38,18,27,Anxiety
869,27,Male,Telegram,105,3,48,20,28,Anxiety
573,21,Non-binary,Facebook,55,3,17,7,12,Neutral

In [4]:
df.tail()

,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
User_ID,,,,,,,,,
184,22,Male,Twitter,70,1,20,5,22,Neutral
896,33,Male,LinkedIn,85,4,35,18,18,Boredom
708,24,Non-binary,Facebook,110,6,35,23,25,Sadness
993,24,Male,Telegram,75,3,37,16,22,Neutral
60,27,Male,Facebook,60,1,10,4,15,Boredom

In [5]:
df.shape

(103, 9)

In [6]:
df.columns

Index(['Age', 'Gender', 'Platform', 'Daily_Usage_Time (minutes)',
       'Posts_Per_Day', 'Likes_Received_Per_Day', 'Comments_Received_Per_Day',
       'Messages_Sent_Per_Day', 'Dominant_Emotion'],
      dtype='object')

In [7]:
df.isnull().sum()

Age                           0
Gender                        0
Platform                      0
Daily_Usage_Time (minutes)    0
Posts_Per_Day                 0
Likes_Received_Per_Day        0
Comments_Received_Per_Day     0
Messages_Sent_Per_Day         0
Dominant_Emotion              0
dtype: int64

In [8]:
df.duplicated().sum()

28

In [9]:
cleaned_df=df.drop_duplicates()

In [10]:
cleaned_df.duplicated().sum()

0

In [11]:
cleaned_df.nunique()

Age                           16
Gender                         5
Platform                       7
Daily_Usage_Time (minutes)    24
Posts_Per_Day                  8
Likes_Received_Per_Day        36
Comments_Received_Per_Day     25
Messages_Sent_Per_Day         22
Dominant_Emotion               6
dtype: int64

In [12]:
cleaned_df.head()

,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
User_ID,,,,,,,,,
500,27,Female,Snapchat,120,4,40,18,22,Neutral
488,21,Non-binary,Snapchat,60,1,18,7,12,Neutral
776,28,Non-binary,Snapchat,115,3,38,18,27,Anxiety
869,27,Male,Telegram,105,3,48,20,28,Anxiety
573,21,Non-binary,Facebook,55,3,17,7,12,Neutral

In [13]:
cleaned_df.tail()

,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
User_ID,,,,,,,,,
476,28,Non-binary,Snapchat,115,3,38,18,26,Anxiety
418,27,Male,Twitter,90,3,40,16,24,Sadness
184,22,Male,Twitter,70,1,20,5,22,Neutral
896,33,Male,LinkedIn,85,4,35,18,18,Boredom
708,24,Non-binary,Facebook,110,6,35,23,25,Sadness

In [14]:
cleaned_df.describe()

,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day
count,75.000000,75.000000,75.000000,75.000000,75.000000
mean,89.200000,3.013333,35.146667,14.306667,21.120000
std,34.533963,1.766760,23.524969,8.488423,7.597937
min,40.000000,1.000000,5.000000,2.000000,10.000000
25%,62.500000,2.000000,18.000000,7.000000,16.000000
50%,80.000000,3.000000,30.000000,12.000000,20.000000
75%,105.000000,4.000000,45.000000,20.000000,25.500000
max,200.000000,8.000000,110.000000,40.000000,45.000000

In [15]:
cleaned_df.columns

Index(['Age', 'Gender', 'Platform', 'Daily_Usage_Time (minutes)',
       'Posts_Per_Day', 'Likes_Received_Per_Day', 'Comments_Received_Per_Day',
       'Messages_Sent_Per_Day', 'Dominant_Emotion'],
      dtype='object')